* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(135deg, #60d6ea 0%, #76e2d8 100%);
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 400px;
  perspective: 1000px;
}

.card {
  background-color: #dfffd8;
  border-radius: 15px;
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transform: rotateY(0deg);
  transition: transform 0.6s;
  transform-style: preserve-3d;
  height: auto;
}

.flipped {
  transform: rotateY(180deg);
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}
